<a href="https://colab.research.google.com/github/shakhawat17/Pyhtonhomework/blob/main/Skill_Murph_Homework_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Homework Content**

# **Serial**

# 2.1 : Create variables for your name, age, and favorite color, then print them with descriptive labels.

In [7]:
name = "Shakhawat"
age = 30
color = "White"
print("Name:", name)
print("Age:", age)
print("Favourite Color:", color)

Name: Shakhawat
Age: 30
Favourite Color: White

In [4]:
name = input ("Please enter your name -")
age = input ("Please enter your age -")
color = input ("Please enter your color -")
print(f"Hello, {name}! Thank you for the info.Welcome to Skill Murph")
print(f"Please confirm the information. Your age is {age} and your favourite color is {color}")

Please enter your name -Shakhawat
Please enter your age -30
Please enter your color -White
Hello, Shakhawat! Thank you for the info.Welcome to Skill Murph
Please confirm the information. Your age is 30 and your favourite color is White

# 2.2 : Create one variable of each type and use the type() function to verify its type.

In [8]:
name = "Shakhawat"
subject = "Math"
roll = 10
score = 92.5
mark_a = True
mark_b = False
print(type(name))
print(type(subject))
print(type(roll))
print(type(score))
print(type(mark_a))

<class 'str'>
<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

In [13]:
name = input("Enter your name")

roll = int(input("Enter your roll number "))

score = float(input("Enter your mark "))

subject = input("Enter your subject name  ")

is_a_star = True

print(type(name))
print(type(subject))
print(type(roll))
print(type(score))
print(type(is_a_star))

Enter your nameSHakhawat
Enter your roll number 10
Enter your mark 92.5
Enter your subject name  Math
<class 'str'>
<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

# 2.3 : Calculate the area and perimeter of a rectangle with length 7 and width 5.

In [15]:
length = 7
width = 5
area = length * width
print(area)
perimeter = 2 * (length + width)
print(perimeter)

35
24

# 2.4 : Create a list of 5 Bangladeshi foods, then access the first and last elements.

In [16]:
food = ["Kala Bhuna", "Biryani","Bhorta","Kalai Ruti","Bakhorkhani"]
print(food[0])
print(food[4])

Kala Bhuna
Bakhorkhani

# 2.5 : Create a list of 5 numbers, add a new number, remove one, and then sort the list.

In [2]:
laptop = ["dell","hp","asus","acer","gigabyte"]
print(laptop)
laptop.insert(4, "rog")
print(laptop)
laptop.remove("gigabyte")
print(laptop)
laptop.sort()
print(laptop)

['dell', 'hp', 'asus', 'acer', 'gigabyte']
['dell', 'hp', 'asus', 'acer', 'rog', 'gigabyte']
['dell', 'hp', 'asus', 'acer', 'rog']
['acer', 'asus', 'dell', 'hp', 'rog']