<a href="https://colab.research.google.com/github/shakhawat17/Pyhtonhomework/blob/main/Skill_Murph_Homework_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Homework Content**

# **Serial**

# 2.1 : Create variables for your name, age, and favorite color, then print them with descriptive labels.

In [ ]:
name = "Shakhawat"
age = 30
color = "White"
print("Name:", name)
print("Age:", age)
print("Favourite Color:", color)

Name: Shakhawat
Age: 30
Favourite Color: White

In [ ]:
name = input ("Please enter your name -")
age = input ("Please enter your age -")
color = input ("Please enter your color -")
print(f"Hello, {name}! Thank you for the info.Welcome to Skill Murph")
print(f"Please confirm the information. Your age is {age} and your favourite color is {color}")

Please enter your name -Shakhawat
Please enter your age -30
Please enter your color -White
Hello, Shakhawat! Thank you for the info.Welcome to Skill Murph
Please confirm the information. Your age is 30 and your favourite color is White

# 2.2 : Create one variable of each type and use the type() function to verify its type.

In [ ]:
name = "Shakhawat"
subject = "Math"
roll = 10
score = 92.5
mark_a = True
mark_b = False
print(type(name))
print(type(subject))
print(type(roll))
print(type(score))
print(type(mark_a))

<class 'str'>
<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

In [ ]:
name = input("Enter your name")

roll = int(input("Enter your roll number "))

score = float(input("Enter your mark "))

subject = input("Enter your subject name  ")

is_a_star = True

print(type(name))
print(type(subject))
print(type(roll))
print(type(score))
print(type(is_a_star))

Enter your nameSHakhawat
Enter your roll number 10
Enter your mark 92.5
Enter your subject name  Math
<class 'str'>
<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

# 2.3 : Calculate the area and perimeter of a rectangle with length 7 and width 5.

In [ ]:
length = 7
width = 5
area = length * width
print(area)
perimeter = 2 * (length + width)
print(perimeter)

35
24

# 2.4 : Create a list of 5 Bangladeshi foods, then access the first and last elements.

In [ ]:
food = ["Kala Bhuna", "Biryani","Bhorta","Kalai Ruti","Bakhorkhani"]
print(food[0])
print(food[4])

Kala Bhuna
Bakhorkhani

# 2.5 : Create a list of 5 numbers, add a new number, remove one, and then sort the list.

In [ ]:
laptop = ["dell","hp","asus","acer","gigabyte"]
print(laptop)
laptop.insert(4, "rog")
print(laptop)
laptop.remove("gigabyte")
print(laptop)
laptop.sort()
print(laptop)

['dell', 'hp', 'asus', 'acer', 'gigabyte']
['dell', 'hp', 'asus', 'acer', 'rog', 'gigabyte']
['dell', 'hp', 'asus', 'acer', 'rog']
['acer', 'asus', 'dell', 'hp', 'rog']

# **2.6 : Create a dictionary about yourself with at least 4 key-value pairs.**

In [ ]:
shakhawat = {
    "last": "Hossain",
    "age": 30,
    "profession": "Engineer",
    "subject" : ["Data Science","Machine Learning","Cloud Computing"]}
print(shakhawat["last"])
print(shakhawat["subject"][1])

Hossain
Machine Learning

# 2.7 : Create a tuple with the latitude and longitude of a famous place in Bangladesh.

In [ ]:
coordinates = (23.9, 89.2)
print(coordinates[0])

23.9

# 2.8 : Create two sets of colors and find their union and intersection.

In [ ]:
color_a ={"red","black","white","red"}
print(color_a)
color_b ={"green","blue","purple","red"}
print(color_b)
all_color = color_a | color_b
common_color = color_a & color_b
print(all_color)
print(common_color)

{'white', 'red', 'black'}
{'red', 'blue', 'green', 'purple'}
{'white', 'red', 'blue', 'black', 'green', 'purple'}
{'red'}

# 2.9 : Write a program that checks if a number is positive, negative, or zero.

In [ ]:
number = 2
if number < 0:
   num = "Negative"
elif number == 0:
   num = "Zero"
elif number > 0:
   num = "Positive"
print(f"The number is {num}")

The number is Positive

# 2.10 : Write a program that checks eligibility for a discount (student AND under 25, OR senior over 60).

In [ ]:
age = 23
student_sta = True
if age < 25 and student_sta == True:
   print("You are eligible for discount")
elif age > 60 and student_sta == True:
   print("You are eligible for discount")
else:
   print("You are not eligible for discount")

You are eligible for discount

# 2.11 : Write a program that prints the first 10 even numbers using a for or while loop.

In [ ]:
for i in range(1, 11):
  print(i * 2)

2
4
6
8
10
12
14
16
18
20

# 2.12 : Write a program that prints a simple number pyramid pattern using nested loops.

In [ ]:
rows = 5
for i in range(1, rows + 1):
  for j in range(1, i + 1):
    print(j, end=" ")
  for k in range(1, i + 1):
        print(k, end=" ")
  for l in range(i - 1, 0, -1):
        print(l, end=" ")
  print()

1 1
1 2 1 2 1
1 2 3 1 2 3 2 1
1 2 3 4 1 2 3 4 3 2 1
1 2 3 4 5 1 2 3 4 5 4 3 2 1

# 2.13 : Create a function that converts temperature from Celsius to Fahrenheit using the formula: F = (C × 9/5) + 32

In [72]:
def cel_fer(c):
  f = (c * 9/5) + 32
  return f
fer = cel_fer(30)
print(f"Fahrenheit is {fer}")

Fahrenheit is 86.0

# 2.14 : Create a function with default parameters that calculates the area of a rectangle.

In [73]:
def rectangle_area(length=5, width=3):
    return length * width
print("Default area:", rectangle_area())
print("Custom area (10 x 4):", rectangle_area(10, 4))
print("Custom area (7 x default 3):", rectangle_area(7))

Default area: 15
Custom area (10 x 4): 40
Custom area (7 x default 3): 21